[simulation]
  name    = "shock"
  engine  = "srpic"
  runtime = 15200.0

[grid]
  resolution = [32768, 256]
  extent     = [[0.0, 8192.0], [-32.0, 32.0]]

  [grid.metric]
    metric = "minkowski"

  [grid.boundaries]
    fields    = [["CONDUCTOR", "MATCH"], ["PERIODIC"]]
    particles = [["REFLECT", "ABSORB"], ["PERIODIC"]]

[scales]
  larmor0    = 5.7735
  skindepth0 = 1.0

[algorithms]
  current_filters = 8

  [algorithms.timestep]
    CFL = 0.7

[particles]
  ppc0 = 8.0

  [[particles.species]]
    label    = "e-"
    mass     = 1.0
    charge   = -1.0
    maxnpart = 2e7

  [[particles.species]]
    label    = "p+"
    mass     = 100.0
    charge   = 1.0
    maxnpart = 2e7

[setup]
  drift_ux    = 0.15         # speed towards the wall [c]
  temperature = 0.168        # temperature of maxwell distribution [kB T / (m_i c^2)]
  temperature_ratio = 1.0    # temperature ratio of electrons to protons
  Bmag = 1.0                 # magnetic field strength as fraction of magnetisation
  Btheta = 63.0              # magnetic field angle in the plane
  Bphi = 0.0                 # magnetic field angle out of plane
  filling_fraction = 0.99     # fraction of the shock piston filled with plasma
  injector_velocity = 0.0    # speed of injector [c]
  injection_start = 0.0      # start time of moving injector
  injection_frequency = 100

[output]
  interval_time = 1000.0
  format        = "BPFile"
  
  [output.fields]
    quantities = ["N", "B", "E"]

  [output.particles]
    enable = true
    stride = 10 

  [output.spectra]
    enable = false

[diagnostics]
  log_level = "WARNING"
  blocking_timers = true

[checkpoint]
  interval = 10000
  keep = 1